.grid-filter-daterange{
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.grid-filter-daterange i.glyphicon-calendar {
    float: right;
}
.grid-filter-daterange>span {
    text-transform: initial !important;
}

.grid-filter-daterange {
  padding: 8px 10px;
  border-radius: 5px;
}

body .grid-filter-daterange {
  height: 34px;
  padding-top: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}