<form-group class="{{#class}}{{class}}{{/}}">
    <label>
        {{label}}
        {{#if desc}}
        <strong class="query-wt hint-{{position_help}}-s-med position-relative {{#if help_anim}}hint-{{help_anim}}{{/if}}" data-hint="{{desc}}">?</strong>
        {{/if}}
    </label>
    <textarea
        {{#!disabled}}name="{{form_name}}"{{/}}
        class="form-control"
        rows="{{rows}}"
        value='{{value}}'
        placeholder="{{placeholder}}"
        {{#disabled}}disabled="true"{{/}}
    ></textarea>
</form-group>
